@using RecipesRemixed.Recipes
@model RecipesRemixed.Recipes.Models.Chefs.ChefOutputModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<div class="card-header">
    <h2>
        @Html.DisplayNameFor(model => model.Qualification)
    </h2>
    <p>
        @Model.Qualification
    </p>
    <h2>
        @Html.DisplayNameFor(model => model.Biography)
    </h2>
    <p>
        @Model.Biography
    </p>
</div>
<hr />
@if (Model.Recipes.Count > 0)
{
    <ul class="list-group">
        <li class="list-group-item active">Recipes</li>
        @foreach (var recipe in Model.Recipes)
        {
            <li class="list-group-item">
                <a href="/Recipes/@recipe.Id">
                    @recipe.Name
                </a>
            </li>
        }
    </ul>
}
<hr />

@if (Model.RecipesRemix.Count > 0)
{
    <ul class="list-group">
        <li class="list-group-item active">RecipeRemixed</li>
        @foreach (var recipe in Model.RecipesRemix)
        {
            <li class="list-group-item">
                <a href="/RecipesRemix/@recipe.Id">
                    @recipe.Name
                </a>
            </li>
        }
    </ul>
}

